/* Глобальные стили */

.no-break-dash {
  white-space: nowrap;
}

.no-break-dash::before {
  content: "\00a0"; /* Неразрывный пробел перед тире */
}

.no-break-dash::after {
  content: "\00a0"; /* Неразрывный пробел после тире */
}

/* Дополнительное правило для всех текстовых элементов, предотвращающее перенос тире на новую строку */
p, div, span {
  word-break: keep-all; /* Предотвращает разрыв слов */
  overflow-wrap: break-word; /* Позволяет переносить длинные слова */
}
